<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Update these with the proper values-->
		<add key="ParticipantID" value="227236"/>
		<add key="TeamID" value="31111"/>
		<add key="UpdateTimeInSeconds" value="30"/>
		<add key="OutputDir" value="C:\Users\cgard\Desktop\Extra Life"/>
		
		<!--Do not touch these-->
		<add key="BaseUrl" value="http://www.extra-life.org/index.cfm?fuseaction={0}&amp;{1}ID={2}&amp;format=json"/>

		<add key="ParticipantType" value="participant"/>
		<add key="ParticipantCommand" value="donorDrive.participant"/>
		<add key="ParticipantDonationsCommand" value="donorDrive.participantDonations"/>

		<add key="TeamType" value="team"/>
		<add key="TeamCommand" value="donorDrive.team"/>
		<add key="TeamParticipantsCommand" value="donorDrive.teamParticipants"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>